body{
	background: url(ocean-final.jpg) no-repeat center center fixed;
	background-size: cover;
}
.title1{
	border: 2px solid black;
	font-size: 35px;
}

#par1{
	font-size: 25px;
	display: inline;
	float: right;
	width: 650px;
	margin-right: 50px;
}

#par2{
	font-size: 25px;
	width: 550px;
}

.paragraphs{
	border: 2px solid white;
}

#pic1{

}

#pic2{
	float: right;
	margin-right: 50px;
	margin-top: 35px;
}